<html>

    {% load static %}

    <head>

        <title>erle-sandbox</title>
        <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" />
            
        <style>

            body { 
                position: absolute;
                margin: 0;
                height: 100%;
                width: 100%;
                font-family: sans-serif;
            }

        </style>

    </head>
	
    <body>
        
        {% block content %}
        {% endblock %}
    
        <!-- LIBRARIES -->
        <script src="{% static 'base/javascript/libraries/jquery-3.5.1.min.js' %}"></script>

    </body>

</html>
